<h1>Products#show</h1>

<!-- Loop all products, take each and give product name, description and formatted price of dollar from cents -->
<% @products.each do |product| %>
  <p><%= product.name %>, <%= product.description %>, <%= product.formatted_price %></p>
<% end %>
